 <div class="row">
    <div itemscope  *ngIf="product != null" class="rowZ grpZ" style="padding-top: 90px;">
      <div class="col-xs-12 col-sm-7">
        <app-image-container [images]="images" [selectedImage]="images[0]">
          </app-image-container> 
      </div>
      
        <div class="col-xs-12 col-sm-5 colZ_002">
                    
          <h1 class="hZ_001">
            <span>
              <inline-translator [page]="'prodDetails'" [key]="'hz001'" [elementType]="'text'"></inline-translator>
            </span>
          </h1>
      
            <div class="pi1">
              <ul class="ulz_001 centered">
                <li>
                  <inline-translator [page]="'prodDetails'" [key]="'ulz001'" [elementType]="'text'"></inline-translator>
                </li>
                <li>
                  <inline-translator [page]="'prodDetails'" [key]="'ulz002'" [elementType]="'text'"></inline-translator>
                </li>
              </ul>
            </div>
            
            <div class="pi_box">
                <div class="pi2">  
                    <app-product-price-info [product]="product" class="row"></app-product-price-info>
                    <app-product-description [description]="product.description" class="row"></app-product-description>  
                    <div>
                      <button [routerLink]="['checkout','cart']" (click)="addToCart()" class="pdp-add-to-bag pdp-button">
                          <inline-translator [page]="'prodDetails'" [key]="'btnTxt'" [elementType]="'text'"></inline-translator>
                      </button>
                    </div>
                  </div>
                  <div class="pi3">
                    <div class="grid">
                      <div class="grid__item large--seven-twelfths">
                        <h2 class="h_002">
                          <strong class="centered">  
                            <inline-translator [page]="'prodDetails'" [key]="'h002'" [elementType]="'text'"></inline-translator>
                          </strong>
                        </h2>
                        <span class="span_001">
                          <inline-translator [page]="'prodDetails'" [key]="'span001'" [elementType]="'textarea'"></inline-translator>
                        </span>
      
                      </div>
                    </div>
                  </div>
            </div>
            
        </div>
      </div>
</div> 

<!-- <div itemscope itemtype="https://schema.org/Product" *ngIf="product != null" class="row padding-top">

  <app-image-container 
    [images]="images" 
    [selectedImage]="images[0]"
    class="col-md-6">
  </app-image-container>
  
  <div class="col-md-6">

    <app-product-price-info [product]="product" class="row">
    </app-product-price-info>

    <app-product-variants
      [customOptionTypesHash]="customOptionTypesHash"
      [currentSelectedOptions]="currentSelectedOptions" 
      (onOptionClickEvent)="onOptionClick($event)"
      [correspondingOptions]="correspondingOptions"
      [mainOptions]="mainOptions"
      class="row"></app-product-variants>  

    <div>
      <button (click)="addToCart()" class="pdp-add-to-bag pdp-button">ADD TO BAG</button>
    </div>

    <app-product-description 
      [description]="product.description" 
      class="row">
    </app-product-description>  
  </div>

</div> -->
