.padding-top {
  padding-top: 50px;
}

.pdp-add-to-bag {
  width: 99%;
  text-align: center;
  padding: 10px 0;
  background-color: #20bd99;
  border: 1px solid #20bd99;
  color: #fff;
}

.pdp-button {
  border-radius: 3px;
  outline: 0;
  padding: 10px 30px;
  font-size: 15px;
  min-height: 22px;
}

.h01{
  text-transform: uppercase;
  line-height: 1;
  font-size: 55px;
}

@media screen and (max-device-width: 1366px) {
  .h01 {
    font-size: 35px;
  }
}

.h02{
  color:#000000; 
  font-size: 30px;
}

@media screen and (max-device-width: 1366px) {
  .h02 {
    font-size: 23px;
  }
}
.prodInfo_001{
  padding: 30px 30px; background-color:#f2f2f2
}

@media screen and (max-device-width: 1366px) {
  .prodInfo_001 {
    padding: 10px 10px;
  }
}

.prodInfo_02{
  height: 306px; 
  background-color:#f2f2f2;
  visibility: visible; 
  animation-name: fadeIn;
}

@media screen and (max-device-width: 1366px) {
  .prodInfo_02 {
    height: 200px; 
  }
}


.ul01{
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  > li{
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    color: #1c1d1d;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
  }
}

.span01{
  font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
  color: #1c1d1d;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
}

  @media screen and (min-width: 1200px)
  {
    .col-md-4 {
      width: 42.333333%;
    }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .col-md-4 {
    width: 30%;
  }
}
