<div class="row">
    <div itemscope  *ngIf="product != null" class="rowZ grpZ" style="padding-top: 60px;">
      <div class="col-xs-12 col-sm-7">
        <app-image-container [images]="images" [selectedImage]="images[0]">
          </app-image-container> 
      </div>
      
        <div class="col-xs-12 col-sm-5 colZ_002">
                    
          <h1 class="hZ_001">
            <span>
              {{product.name}}
            </span>
          </h1>
          
          <div class="pi1">
                <ul class="ulz_001 centered" >
                    <li *ngFor="let taxon of product.liArray" class="">
                      {{taxon.li}}
                    </li>
                </ul>
            </div>
            
            <div class="pi_box">
             
                <app-product-description 
                [description]="product.description" 
                class="row">
              </app-product-description>  
              
              <app-product-description 
              [description]="product.meta_description" 
              class="row">
            </app-product-description>  
                        <app-product-price-info [product]="product" class="row">
                        </app-product-price-info>
                    
                        <app-product-variants
                          [customOptionTypesHash]="customOptionTypesHash"
                          [currentSelectedOptions]="currentSelectedOptions" 
                          (onOptionClickEvent)="onOptionClick($event)"
                          [correspondingOptions]="correspondingOptions"
                          [mainOptions]="mainOptions"
                          class="row"></app-product-variants>  
                    
                        <div>
                          <button (click)="addToCart()" class="pdp-add-to-bag pdp-button">{{pageTranslator.addToBag}}</button>
                        </div>
                    
                     
                   
            </div>

        </div>
      </div>
</div> 
