// .ulz_001{
//   list-style: none;
//   margin: 0 0 10px 0;
//   padding: 0;
//   > li{
//     font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
//     color: #1c1d1d;
//     font-weight: 300;
//     font-size: 16px;
//     text-transform: uppercase;
//     line-height: 1;
//   }
// }

// .pdp-add-to-bag {
//   width: 99%;
//   text-align: center;
//   padding: 10px 0;
//   background-color: #20bd99;
//   border: 1px solid #20bd99;
//   color: #fff;
// }

// .pdp-button {
//   border-radius: 3px;
//   outline: 0;
//   padding: 10px 30px;
//   font-size: 15px;
//   min-height: 22px;
// }
// .h_002{
//   color:#000000; 
//   font-size: 30px;
//   text-align: center;
// }
// .span_001{
//   font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
//   color: #1c1d1d;
//   font-weight: 300;
//   font-size: 16px;
//   text-transform: uppercase;
//   line-height: 1;
//   color:#6b5154
// }

.rowZ {
    clear: both;
    padding: 0px;
    margin: 0px;
    padding-top: 30px;
}
 .colZ {
     display: block;
     float:left;
     margin: 0% 0 0% 0%;
 }
.colZ:first-child { margin-left: 0; }
.grpZ:before,
.grpZ:after { content:""; display:table; }
.grpZ:after { clear:both;}
.grpZ { zoom:1;}

.colZ_001 {
     width: 57%;
}
.colZ_002 {
   width: 42%;
   margin-top:-21px;
 }

// .hZ_001{
//   text-transform: uppercase;
//   line-height: 1;
//   font-size: 55px;
//   color:#6b5154
// }
// .prodInfo_002{
//   height: 300px; 
//   background-color:#f2f2f2;
//   visibility: visible; 
//   animation-name: fadeIn;
//   padding: 30px 30px;
// }
// .prodInfo_001{
//   padding: 30px 30px; 
//   background-color:#f2f2f2  
// }