<div class="content showHide">
  <div itemprop="name" class="queried-for">
    <h4 title="men casual shirts" class="q">{{pageTranslator.availableProds}}</h4>
    <span>&nbsp;</span>
  </div>
  
  <div class="options">
    <ul class="img-size">
      <label>{{pageTranslator.view}}:</label>
      <li (click)="toggleView('COMPACT')" [ngClass]="{'big': true, 'selected': isBigSelected()}"></li>
      <li (click)="toggleView('COZY')" [ngClass]="{'small': true, 'selected': isSmallSelected()}"></li>
    </ul>
    
    <!-- <ul class="sort">
      <!-- <label>
        {{pageTranslator.sort}}:
      </label>
      <li data-sortkey=":popularity">{{pageTranslator.popular}}</li>
      <li data-sortkey=":new">{{pageTranslator.new}}</li>
      <li data-sortkey=":discount">{{pageTranslator.discount}}</li>
      <label>{{pageTranslator.price}}: 
        <li data-sortkey=":low">{{pageTranslator.low}}</li>
        <li data-sortkey=":high">{{pageTranslator.high}}</li>
      </label> -->
    <!-- </ul>  -->

  </div>
</div> 