<div class="content showHide">
  <div itemprop="name" class="queried-for">
    <h4 title="men casual shirts" class="q">{{pageTranslator.availableProds}}</h4>
    <span>&nbsp;</span>
  </div>
  
  <div class="options">
    <ul class="img-size">
      <label>{{pageTranslator.view}}:</label>
      <li (click)="toggleView('COMPACT')" [ngClass]="{'big': true, 'selected': isBigSelected()}"></li>
      <li (click)="toggleView('COZY')" [ngClass]="{'small': true, 'selected': isSmallSelected()}"></li>
    </ul>
  </div>
</div> 