<div class="row-base" style="display: -webkit-flex">
    <section>
      <ul class="results-base">
        <p *ngIf="products.length === 0">No Products found for this category</p>
        <li *ngFor="let product of products | filter : selectedTaxonIds;" class="product-base" [style.margin]="getMargin()" itemscope
          itemtype="https://schema.org/Product">
          <div class="product-thumbShim"></div>
          <a itemprop="url" [routerLink]="['/product/', product.slug]">
            <img itemprop="image"
              class="product-thumb"
              alt="{{product.name}}" 
              [src]="getProductImageUrl(product.master.images[0]?.large_url)">
            <div class="product-productMetaInfo">
              <div itemprop="name" class="product-brand">{{ product.name }}</div>
              <h2 class="product-product">{{ product.description }}</h2>
              <div itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="product-price">
                <span>
                  <span itemprop="price" class="product-discountedPrice">$ {{ product.display_price }}</span>
                </span>
              </div>
            </div>
          </a>
          <div class="product-sizeDisplayDiv">
            <div class="product-sizeDisplayHeader">
              <span>Select a size</span>
              <span class="myntraweb-sprite product-sizeDisplayRemoveMark sprites-remove"></span>
            </div>
            <div class="product-sizeButtonsContaier">
              <button class="product-sizeButton">S</button>
              <button class="product-sizeButton">M</button>
              <button class="product-sizeButton">L</button>
              <button class="product-sizeButton">XL</button>
              <button class="product-sizeButton">XXL</button>
            </div>
          </div>
          <div class="product-actions">
              <span class="product-actionsButton product-addToaddToBag">
                <span class="addToBagSpan" (click)="addToCart(product)">{{pageTranslator.addToBag}}</span>
              </span>
            </div>
        </li>
      </ul>
    </section>
  </div>