img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 131.5px;
  height: 68px;
  margin-top: -34px; 
  margin-left: -65px;
}

@media screen and (max-width: 768px) {
  img {
    width: 92.04px;
    height: 47.59px;
    margin-top: -25px;
    margin-left: -90px;
  }
}


#wrapper td {
  vertical-align: middle;
  text-align: center;
}
 
 .icon-bar{
   height: 1px;
 }
 .navbar {
   background-color: #FFFFFF;
   list-style: none;
 }
 .navbar-brand {
   font-family: 'Poiret One';
   font-size: 58px;
   padding-top: 20px;
   float: right;
   img {
     width: 40%;
   }
 }
 .nav navbar-nav {
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

 .az_001 {
   color: #050504;
   font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  }

  @media screen and (max-width: 700px) {
    .navbar-brand {
      font-size: 39px;
      margin-left: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .az_001 {
      margin-top: 17px;
      margin-left: 13px;
    }
  }

  @media screen and (max-width: 768px) {
    collapse navbar-collapse {
      // float: right;
    }
    padding-left: 35px;
  }

  .navbar-toggle {
    margin-left: 27px;
    margin-top: 26px;
    float: left;
  }
    
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color: transparent; 
  }
  .padTop{
    margin-bottom:  10px;
  }
  @media screen and (min-width: 768px) {
    .padTop{
      padding-top: 15px;
      margin-bottom:  10px;
  }
}

@media screen and (max-width: 768px) {
  .padTop{
    background-color: white;
  }
}

@media screen and (max-width: 768px) {
    .bla1 {
      list-style: none;
      font-size: 15px;
      text-align: left;
      background-color: #FFFFFF;
    }
    .az_001{
      min-height: 30px;
      font-size: 14px;
      margin-left: 18px;
    }
  }
  .flagSelect {
    padding-right: 24px;
  }
 