
<nav style="border-color:transparent" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     
    <a href="https://github.com/aviabird/angularspree">
    </a>

    <a class="navbar-brand" routerLink="/"><img src="assets/logo.png" alt="Angular Spree"></a>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <div style="float: right;padding-top: 30px;" class="collapse navbar-collapse" id="bs-example-n#777avbar-collapse-1">  
        
        <ul style="padding-right:20px;" class="nav navbar-nav">
          <li *ngFor="let taxon of taxonList" class="">
            <a style="font-family: Bookmania,Helvetica,sans-serif; padding-right: 30px; color: #050504;" (click)="selectTaxon(taxon)" href="javascript:void(0)">{{taxon.name}}
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>

        <app-profile-dropdown [totalCartItems]="totalCartItems | async" [isAuthenticated]="isAuthenticated | async"></app-profile-dropdown>

        <div id="demo-2" style="padding-top:5px;" class="desktop-query centered">
          <input #toFocus placeholder="Search" class="desktop-searchBar">
          <a class="desktop-submit" (click)="toggleSearchBar($event, toFocus)">
            <span  class="web-sprite desktop-iconSearch sprites-search"></span>
          </a>
        </div>
      </div>
  </div>
</nav>