 .navbar {
   height: 78px;
   background-color: #f2f2f2;
   list-style: none;
 }
 .navbar-brand {
   padding: 0;
   img {
     width: 100%;
   }
 }
 .nav navbar-nav{
  top: 0;
  right: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
 }
 .az_001
 {
    color: #050504;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  }
  @media screen and (min-width: 768px) {
    .az_001 {
      padding-right: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    collapse navbar-collapse {
      float: right;
    }
  }
  .navbar-toggle{
    margin-right: 4px;
    margin-top: 22px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: relative; /* this can also be static */
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
   border-color: transparent; 
  }


  @media screen and (max-width: 768px) {
    .bla1 {
      float: left;
      margin: -2px 0 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #FFFFFF;

    }
  }