 .navbar {
   height: 78px;
   background-color: #f2f2f2;
   list-style: none;
 }
 .navbar-brand {
   padding: 0;
   img {
     width: 100%;
   }
 }
 .az_001
 {
    color: #050504;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  }

  @media screen and (min-width: 768px) {
    .az_001 {
      padding-right: 30px;
    }
  }

  .navbar-toggle{
    margin-right: 4px;
    margin-top: 22px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: relative; /* this can also be static */
  }