<nav style="border-color:transparent" class="navbar navbar-default navbar-fixed-top">
  
    <table id="wrapper">
        <tr>
          <td><img class="stickyLogo" src="assets/shevlin_logo.png" alt="" /></td>
        </tr>
      </table>

  <div class="row">
    <div class="container">
      
            <div class="cartZ" style="float:right; padding-top: 10px; display: block !important;">
                <app-profile-dropdown [totalCartItems]="totalCartItems | async" [isAuthenticated]="isAuthenticated | async"></app-profile-dropdown>
            </div>
            
            <div class="cartZ" style="float:right; padding-top: 10px; display: block !important;">
                <ul id="profDown" style="display: -webkit-inline-box;" class="nav navbar-nav navbar-right">

                  <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" dropdownToggle>
                        <i class="fa" aria-hidden="true">
                            <img class="iconPics" src="assets/translation.png">
                        </i>
                      <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" *dropdownMenu>
                        <li role="separator" class="divider"></li>
                        <flagSelectComp class="flagSelect" [FlagsArray]="['dk', 'gb']"></flagSelectComp>
                        <li role="separator" class="divider"></li>
                    </ul>
                  </li>
                </ul>
            </div>

            <div class="navbar-collapse padTop" [ngClass]="{ 'in': isIn }">
              <div class="bla1">

                  <ul class="nav navbar-nav" id="navz" style="display: -webkit-inline-box;">
                      <li *ngFor="let taxon of taxonList" class="">
                        <a class="az_001" (click)="toggleState()" (click)="selectTaxon(taxon)"href="javascript:void(0)">{{taxon.name}}
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                  </ul>
              </div>
            </div>


          </div>
  </div>
  
  </nav>
  
  <style>
  @import url('https://fonts.googleapis.com/css?family=Poiret+One');
  </style>