.navbar-fixed-top {
  min-height: 70px;
  background-color: $theme-myntra-header-background-color;
  .navbar-nav {
    & > li {
      .active {
        & > a {
          border-bottom: 3px solid $theme-myntra-text-color;
        }
      }
      & > a {
        min-height: 50px;
        font-size: 15px;
        &:hover {
          border-bottom: 3px solid $theme-myntra-subtext-color;
        }
      }
    }
  }
}