<div class="order-total-summary">
   
    <div class="order-summary-span">
      <div class="bag-total">
        <span>
          {{pageTranslator.bagTotal}}
        </span>
        <span class="value">{{totalCartValue | number:'1.2-2'}} {{pageTranslator.totalCurrency}}</span>
      </div>

      <div class="shipping">
        <span>
            {{pageTranslator.delivery}}
        </span>
        <span class="shipping-fee c-green">40 {{pageTranslator.totalCurrency}}</span>
      </div>
    </div>
    <div class="order-total footer">
      <div class="place-order">
        <button (click)="placeOrder()" class="order-btn">
          {{pageTranslator.placeOrder}}
        </button>
      </div>
      <div class="total-amount">
        <span class="pull-left"> {{pageTranslator.orderTotal}}</span>
        <span class="total-rupees">{{totalCartValue + 40 | number:'1.2-2'}} {{pageTranslator.totalCurrency}}</span>
      </div>
    </div>
  </div>
