@import "../../../shared/scss/_themes.scss";

.register-container {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .register-container{
    margin-top: 70px;
  }
}

.panel {
  position: absolute;
  top:10px;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  .panel-heading {
    padding: 0px 0 0;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    .panel-title {
     
      color: #666;
      font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    }
  }
}

@media (min-width: 600px) {
  .panel-title {
    font-size: 28px;
  }
}

@media (min-height: 800px) {
  .panel {
    top:80px;
  }
}
.register-input-container {
  margin: 20px;
  border: 1px solid #bfc0c6;
  border-radius: 5px;
  padding: 0;
}

.register-register-button-container {
  padding: 10px 20px;
}
.register-register-button {
  letter-spacing: 2px;
  padding: 15px;
  width: 100%;
  font-size: 18px;
  border: 1px solid #1d886d;
  background-color: #1d886d;
  color: #f2f2f2;
}
.register-register-button:hover {
  background-color:#104739;
}

.register-input-container:hover{
  border: 1px solid #1d886d;
}
.register-input-item {
  position: relative;
}

.register-user-input-email {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.register-user-input {
  width: 100%;
  border: 0;
  padding: 15px;
}

.register-user-input-password {
  border-top: 1px solid #d5d6d9;
}

.register-user-input-mobile {
  border-top: 1px solid #d5d6d9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.register-link-container {
  text-align: left;
  padding: 20px;
}

.register-login-link {
  text-align: center;
}

a {
  background-color: transparent;
}

@media (min-height: 800px) {
  .register-third-party-register {
    top:30px;
  }
}

.register-button-info-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.register-button-container {
  margin-bottom: 40px;
}

.register-button {
  margin: 0 auto;
  padding-left: 18%;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: #696b79;
  height: 50px;
  border: 1px solid #bfc0c6;
  background-color: #fff;
  text-align: left;
  width: 43%;
}

@media (min-width: 360px) {
  .register-facebook {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.register-sprite {
  background: url(http://res.cloudinary.com/mally/image/upload/v1489480940/148948096411965_w5wbjb.png) no-repeat 0 0;
  background-size: 159px 48px;
  display: inline-block;
}

.register-fb-logo {
  background-position: -93px 0;
  width: 28px;
  top: 10px;
}
.register-gplus-logo {
  background-position: -122px 0;
  width: 23px;
  top: 13px;
}

.register-fb-logo, .register-gplus-logo {
  height: 29px;
  position: absolute;
  left: 15px;
}

.register-error-icon {
  padding: 0 7px;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 10px;
  font-weight: 500;
  border-radius: 21px;
  color: $brand-danger;
  border: 2px solid #FF527B;
  border-radius: 21px;
}
.register-error-message {
  font-size: 11px;
  margin-left: 15px;
  text-align: left;
  margin-top: -9px;
  max-height: 500px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0,1,.5,1);
  transition-timing-function: cubic-bezier(0,1,.5,1);
  color: $brand-danger;
}