<div class="row register-container" data-hook="">
  <div id="content" class="col-sm-12" data-hook="">
    <div class="col-md-5 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login to {{title}}</h3>
        </div>
        <div id="existing-customer" class="panel-body" data-hook="login">
          <div class="register-third-party-register">
            <p class="register-button-info-text register-info-text">EASILY USING</p>
            <div class="register-button-container">
              <button class="register-facebook register-button coming-soon">
                <span class="register-fb-logo register-sprite"></span>
                FACEBOOK
              </button>
              <button class="register-google register-button coming-soon" id="gPlusLogin">
                <span class="register-gplus-logo register-sprite"></span>
                GOOGLE
              </button>
            </div>
          </div>
          <p class="register-info-text">- OR USING EMAIL -</p>
          <form class="register-register-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <fieldset class="register-input-container">
              <div class="register-input-item">
                <input type="email" class="register-user-input-email register-user-input" name="email" placeholder="Your Email Address" formControlName="email"
                  autocomplete="off">
                <div *ngIf="signInForm.get('email').errors && signInForm.get('email').touched">
                  <span class="register-error-icon text-danger">!</span>
                  <p class="register-error-message text-danger">{{signInForm.get('email').errors.msg || 'Please enter a valid email id'}}</p>
                </div>
              </div>
              <div class="register-input-item">
                <input type="password" class="register-user-input-password register-user-input" name="password" placeholder="Enter Password" formControlName="password"
                  autocomplete="off">
                <div *ngIf="signInForm.get('password').errors && signInForm.get('password').touched">
                  <span class="register-error-icon text-danger">!</span>
                  <p class="register-error-message text-danger">{{signInForm.get('password').errors.msg || 'Password must be at least 6 characters'}}</p>
                </div>
              </div>
            </fieldset>
            <fieldset class="register-register-button-container">
              <button type="submit" class="btn btn-danger register-register-button">Log in</button>
            </fieldset>
          </form>
          <div class="register-link-container">
            <small>
                <div class="register-right-links">
                    <span class="register-info-text">Forgot your password?</span>
                    <a class="register-create-account-link register-link" [routerLink]="['/auth']">Recover password</a>
                  </div>
              <div class="register-right-links">
                <span class="register-info-text">New to {{title}}?</span>
                <a class="register-create-account-link register-link" [routerLink]="['/auth']">Create Account</a>
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>