<div class="row register-container" data-hook="">
  <div id="content" class="col-sm-12" data-hook="">
    <div class="col-md-5 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
              {{tranz.loginTo}}
            </h3>
        </div>
        <div id="existing-customer" class="panel-body" data-hook="login">

          <p class="register-info-text">
              {{tranz.orEmail}}
        </p>
          <form class="register-register-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <fieldset class="register-input-container">
              <div class="register-input-item">
                <input type="email" class="register-user-input-email register-user-input" name="email" placeholder="{{tranz.email}}" formControlName="email"
                  autocomplete="off">
                <div *ngIf="signInForm.get('email').errors && signInForm.get('email').touched">
                  <span class="register-error-icon text-danger">!</span>
                  <p class="register-error-message text-danger">{{signInForm.get('email').errors.msg || 'Please enter a valid email id'}}</p>
                </div>
              </div>
              <div class="register-input-item">
                <input type="password" class="register-user-input-password register-user-input" name="password" placeholder="{{tranz.pw}}" formControlName="password"
                  autocomplete="off">
                <div *ngIf="signInForm.get('password').errors && signInForm.get('password').touched">
                  <span class="register-error-icon text-danger">!</span>
                  <p class="register-error-message text-danger">{{signInForm.get('password').errors.msg || 'Password must be at least 6 characters'}}</p>
                </div>
              </div>
            </fieldset>
            <fieldset class="register-register-button-container">
              <button type="submit" class="btn btn-danger register-register-button">Log in</button>
            </fieldset>
          </form>
          <div class="register-link-container">
            <small>
                <div class="register-right-links">
                    <span class="register-info-text">
                      <inline-translator [page]="'login'" [key]="'forgotPassword'" [elementType]="'text'"></inline-translator></span>
                    <a class="register-create-account-link register-link" [routerLink]="['/auth']"><inline-translator [page]="'login'" [key]="'recoverPassword'" [elementType]="'text'"></inline-translator></a>
                  </div>
              <div class="register-right-links">
                <span class="register-info-text"><inline-translator [page]="'login'" [key]="'newTo'" [elementType]="'text'"></inline-translator></span>
                <a class="register-create-account-link register-link" [routerLink]="['/auth']"><inline-translator [page]="'login'" [key]="'createAccount'" [elementType]="'text'"></inline-translator></a>
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>