<div *ngIf="order">
    
 

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="active col-md-12">
          <div class="row">

            <div class="col-md-4" style="margin-top:10px">
              <small>{{tranz.total}}</small>
              <p>
                <i class="fa fa-{{order.currency | lowercase}}" aria-hidden="true"></i>
                {{order.total}} {{tranz.currency}}
              </p>
            </div>

            <div class="col-md-4" style="margin-top:10px">
              <small>{{tranz.state}}</small>
              <div class="status">
                <!-- {{order.shipment_state | uppercase}} -->

                <div *ngIf="order.shipment_state == '1'">
                    {{tranz.orderWating}}: 
                  </div>
                  
                  <div *ngIf="order.shipment_state == '0'">
                    {{tranz.orderSentGls}}: 
                  </div>

                </div>
            </div>
            
            <div class="col-md-4" style="margin-top:10px">
              <small>{{tranz.items}}</small>
              <p>
                {{order.line_items.length}}
              </p>
            </div>

          </div>
          </div>
      </div>
      <hr>
      
      <div *ngFor="let line_item of order.line_items">

          <div class="prod-item">
              <div *ngIf="line_item.prod != null" class="col1">
                <img  [src]="line_item.prod.master.images[0].small_url" alt=""> 
              </div>
              <div class="col2">
                <div class="prod-name">
                  <a *ngIf="line_item.prod != null" class="c-gray">
                    {{line_item.prod.name}}
                  </a>
                </div>
                <div *ngIf="line_item.prod != null" class="prod-amount">
                  {{tranz.price}}: {{line_item.prod.display_price}}
                </div>
                <div class="size-qty-wrap">
                  <div class="size-qty">
            
                    <span *ngIf="line_item.size != null" class="size"> 
                      <span class="gray">{{tranz.size}}:</span> 
                      <span class="value">{{line_item.size}}</span>
                    </span>
            
                    <span *ngIf="line_item.color != null" class="size">
                       <span class="gray">{{tranz.color}}:</span> 
                      <span class="value">{{line_item.color}}</span>
                    </span>
                    
             
                    <span class="qty">
                      <span class="gray">{{tranz.qty}}:</span>
                      <span class="value">{{line_item.quantity}}</span>
                    </span>
                    
                    
                  </div>
                  <div class="seller"></div>
                </div>
              </div>
            </div>
            
        </div>

    </div>
  </div>

  <br>
  <h5>{{tranz.shipDetails}}</h5>
  <div class="panel panel-default">
    <div class="row panel-body">
      <div class="col-md-12">
        <h5>Order No: {{order.id}}</h5>
      </div>
      
      <br>
      <div class="col-md-12">
        <address>
          <strong>{{order.ship_address.firstname}}</strong><br>
          {{order.ship_address.address1}}<br>
          {{order.ship_address.address2}}<br>
          {{order.ship_address.city}}{{order.ship_address.zipcode}}<br>
          <abbr title="Phone"></abbr> {{order.ship_address.phone}}
        </address>
      </div>

      <!-- <dl class="col-md-12">
        <dt>
          Payment: {{order.payment_state | humanize | uppercase}}
        </dt>
      </dl> -->

    </div>
  </div>

  <button *ngIf="isAdmin" (click)="confirmOrder()" class="pdp-add-to-bag pdp-button pull-right">{{tranz.confirmOrder}}</button>

</div>