.status {
  color: #20bd99;
}

.line_item_image {
  border: 1px solid #eee;
}
.pdp-button {
  padding: 1% 1% 1% 0%;
  font-size: 18px;
  width: 50%;
  border: 1px solid #1d886d;
  background-color: #1d886d;
  color: #f2f2f2
}
