<div class="del-lbl">
{{delSpeed}}
</div>
<div class="del-options">
  <div class="option">
    <div class="option-name">
        {{stdDel}}
    </div>
    <div class="option-rate">
        {{freeDel}}
    </div>
  </div>
</div>
<div class="mini-bag-summary">
  <div class="items">
      ({{totalCartItems$ | async}})
  </div>
  <div class="order-total">
    <span>{{orderTotal001}}</span>
    <span class="value">
        ({{totalCartValue$ | async}})
      </span>
  </div>
  <div class="shipping">
    <span>{{del001}}</span>
    <span class="shipping-fee c-green">{{del002}}</span>
  </div>
</div>
<div class="pay-lbl-total">
  <span class="pay-lbl"></span>
  <span class="pay-total">({{totalCartValue$ | async}})</span>
</div>