


<div class="del-lbl">
{{delSpeed}} 
<div class="items pull-right">
  
    {{selectedDel.prop3}}
</div>
</div>
<div class="del-options">
  <div class="option">
    <div class="option-name">
        {{selectedDel.prop1}}
    </div>
    <div class="option-rate">
        {{selectedDel.prop2}}
    </div>
  </div>
</div>
<div class="mini-bag-summary">
    <span>{{pageTrans.totalItems}}:</span>
  <div class="items pull-right">
      {{totalCartItems$ | async}}
  </div>
  <div class="order-total">
    <span>{{orderTotal001}}</span>
    <span class="value">
        {{totalCartValue$ | async}} {{pageTrans.currency}}
      </span>
  </div>
  <div class="shipping">
    <span>{{del001}}</span>
    <span class="shipping-fee c-green">{{selectedDel.prop2}}</span>
  </div>
</div>
<div class="pay-lbl-total">
  <span class="pay-lbl">{{orderTotal002}}</span>
  <span class="pay-total">{{(totalCartValue$ | async) + selectedDel.prop4 }} {{pageTrans.currency}}</span>
</div>