// .image-container {
//   display: inline-block;
//   .thumbnails-selected-image {
//     height: 660px;
//     min-height: 300px;
//     width: 620px;
//     background: rgb(245, 245, 246) none repeat scroll 0% 0% / auto padding-box border-box;
// }
// .thumbnails-vertical-container {
//       width: 60px;
//       float: left;
//       margin-bottom: 10px;
//       background: white;
//       border-color: white;
//       .thumbnails-thumbnail-button {
//           background-color: #fff;
//           border: 0;
//           padding: 0;
//           position: relative;
//           cursor: pointer;
//       }
      
//   }
// }

.image-container {
    .thumbnails-selected-image {
        width: 82%;
        height: 69vh;
   }
}
@media screen and (min-height: 730px) {
    .image-container {
        .thumbnails-selected-image {
            height: 100%;
            width:97%;
       }
    }
  }
 .thumbnails-vertical-container {
     float: left;
     width: 83.3%;
     display: -webkit-box;
     margin-top: 5px;
     margin-bottom: 5px;

       .thumbnails-thumbnail-button {
           cursor: pointer;
           width: 33%;
        }
        .thumbnails-thumbnail{
            width: 98%;
        }
 }
 @media screen and (min-height: 730px) {
    .thumbnails-vertical-container {
        width: 98.8%;
        margin-top: 20px;
        margin-bottom: 20px
    }
  }