.image-container {
  display: inline-block;
  .thumbnails-selected-image {
    height: 660px;
    min-height: 300px;
    width: 620px;
    background: rgb(245, 245, 246) none repeat scroll 0% 0% / auto padding-box border-box;
}
.thumbnails-vertical-container {
      width: 60px;
      float: left;
      margin-bottom: 10px;
      background: white;
      border-color: white;
      .thumbnails-thumbnail-button {
          background-color: #fff;
          border: 0;
          padding: 0;
          position: relative;
          cursor: pointer;
      }
      
  }
}