<section class="cards">
    <article>
      <div class="image-container" *ngIf="images">
        <img itemprop="image" [src]="getProductImageUrl(selectedImage.large_url)" 
            [alt]="selectedImage.alt"
              class="thumbnails-selected-image article-img2" />
      </div>
    </article>
  </section>

  <section class="cards img002">
        <article>
            <div class="thumbnails-thumbnail-button" *ngFor="let image of images">
              <img class="thumbnails-thumbnail article-img" 
                [src]="getProductImageUrl(image.small_url)"
                [alt]="image.alt"
                (mouseover)="onMouseOver(image)">
              </div>
        </article>
      </section>