
.navbar_brand_footer {
    img {
        width: 300px;
      }
}

@media screen and (max-width: 768px) {
    .navbar_brand_footer {
        img {
            margin-left: -10px;
        }
    }
  }

.footer-distributed {
    background-color: #292c2f;
    font: bold 16px sans-serif;
    padding: 20px 50px;
    margin-top: 80px;
}
:host ::ng-deep .footer-left #inlineEditWrapper a { 
    color:  #ffffff;
}
:host ::ng-deep .footer-distributed h3 span #inlineEditWrapper a { 
    color:  #1d886d;
}
@media (max-width: 880px) {
    .footer-distributed{
        font: bold 14px sans-serif;
    }
}
.linkz {
    cursor: pointer;
}
.leftBottom{
    font-size: 12px;
    color:  #8f9296;
}
a {
    color: #1d886d !important;
}
@media (min-width: 900px) {
    .leftBottom {
        width: 800px;
        margin: 0 auto;
            }
        }
@media (max-width: 900px) {
    .leftBottom {
        width: 300px;
        margin: 0 auto;
    }
}