<footer class="footer-distributed">
    <div class="row">
        <div class="col-md-12">
            <div class="leftBottom ">
                
                <a class="navbar_brand_footer" routerLink="/"><img src="assets/shevlin_logo_white.png" alt=""></a>   
                
                <span class="txt-color-white ng-binding" style="margin-right: 15px;">CVR nr. 38 95 98 24 |
                    
                    <a class="linkz" (click)="goToLink('fact')"><inline-translator [page]="'header'" [key]="'facts'" [elementType]="'text'"></inline-translator></a> |
                    
                    <a class="linkz" (click)="goToLink('contact')"><inline-translator [page]="'header'" [key]="'contact'" [elementType]="'text'"></inline-translator></a> |
                    
                    <a class="linkz" (click)="goToLink('terms')"><inline-translator [page]="'footer'" [key]="'conditions'" [elementType]="'text'"></inline-translator></a> |

                    <a class="linkz" (click)="goToLink('cookiePolicy')"><inline-translator [page]="'footer'" [key]="'cookiePolicy'" [elementType]="'text'"></inline-translator></a>
                </span>
                
                <i style="font-size: 16px;" class="fa fa-envelope"></i>
                <a style="font-size: 16px;" href="https://www.facebook.com/Shevlin.co/"><i class="fa fa-facebook"></i></a>
                <a style="font-size: 16px;" href="https://www.instagram.com/anthony.shevlin/"><i class="fa fa-instagram"></i></a>
                                                    
                                                  
            </div>
        </div>
    </div>
</footer>


