<footer class="footer-distributed">
    
    <div class="footer-left">
        <h3>
            Shevlin
            <span> 
            </span></h3>
        <p class="footer-company-name">
            Shevlin &copy; 2018
        </p>
        
        <div class="leftBottom">
            <span class="txt-color-white ng-binding">
                CVR nr. 38 95 98 24 | 

                <a class="linkz" (click)="goToLink('terms')">
                    <inline-translator [page]="'footer'" [key]="'conditions'" [elementType]="'text'"></inline-translator>
                </a>
                |
                <a class="linkz" (click)="goToLink('cookiePolicy')">
                        Privatepolitik
                    </a>

            </span>
        </div>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-envelope"></i>
            <p>
                <a href="mailto:info@shevlin.co">
                    <inline-translator [page]="'footer'" [key]="'mailTxt'" [elementType]="'text'"></inline-translator>
                </a>
            </p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>
                <inline-translator [page]="'footer'" [key]="'about001'" [elementType]="'text'"></inline-translator>
            </span>
            <inline-translator [page]="'footer'" [key]="'about002'" [elementType]="'text'"></inline-translator>
        </p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/Shevlin.co/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/anthony.shevlin/"><i class="fa fa-instagram"></i></a>
        </div>
        </div>
</footer>