
<div id="asdf01" class="payment-section">
	<div class="row">
			<div class="col-sm-6">
					<div class="right">
							<div class="mini-bag-summary">
								<div class="lbl">{{pageTrans.orderSummary}}</div>
								<div class="items">{{totalCartItems$ | async}} {{pageTrans.items}}</div>
								<div class="order-total">
									<span>{{pageTrans.orderTotal}}</span>
									<span class="value">{{totalCartValue$ | async | number:'1.2-2'}} {{pageTrans.currency}}</span>
								</div>
								<div class="shipping">
									<span>{{pageTrans.delivery}}</span>
									<span class="shipping-fee c-green">{{shipTotal | number:'1.2-2'}} {{pageTrans.currency}}</span>
								</div>
							</div>
							
							<div class="pay-lbl-total">
								<span class="pay-lbl">{{pageTrans.totalPayable}}</span>
								<span class="pay-total">{{(totalCartValue$ | async ) + shipTotal | number:'1.2-2' }} {{pageTrans.currency}}</span>
							</div>
							
							<div *ngIf="address$ | async" class="address-summary">
								<div class="address-lbl">{{pageTrans.deliverTo}}</div>
								<div class="name">{{(address$ | async).full_name}}</div>
								<div class="add-info">{{(address$ | async).address1}}</div>
								<div class="add-info">{{(address$ | async).address2}}</div>
								<div class="add-info">{{(address$ | async).city}} - {{(address$ | async).zipcode}}</div>
								<div class="add-info">{{pageTrans.mobile}} : {{(address$ | async).phone}}</div>
							</div>
				</div>
			</div>		
			<div class="col-sm-6">
					<div class="left">
							<div class="payment-header">
								
								<span class="lbl">{{pageTrans.youPay}}: </span>
								<span class="amt you-pay">
										<!-- <span class="amt">{{pageTrans.youPay}}</span> -->
										<span class="you-pay">{{(totalCartValue$ | async) + shipTotal | number:'1.2-2'}} {{pageTrans.currency}}</span>
									</span>
								
							</div>
							<div class="pay-body">
								<app-payment-modes-list [orderNumber]="orderNumber$ | async" [paymentAmount]="totalCartValue$ | async"></app-payment-modes-list>
							</div>
						</div>					
			</div>
			
	</div>

</div>



    
