<div id="confirmation">
  <div id="content">
    <div id="top-image"></div>
    <h1>{{tranz.thankYou}}</h1>
    <p>
      {{tranz.orderTxt}}
    </p>
<div id="summary">
            <div>
            <h2>{{tranz.shippingInfo}}</h2>
              <p><span class="info-title">{{tranz.shippedTo}}</span>
                <span class="pull-right">
                    {{orderDetails.ship_address.address1}}
                </span>
              </p>

            
              <p><span class="info-title"></span>
                <span class="pull-right">{{orderDetails.ship_address.city}}, {{orderDetails.ship_address.zipcode}}
                </span>
              </p>
              <br>
              <p><span class="info-title"> {{tranz.name}}</span>
                <span class="pull-right">
                    {{orderDetails.ship_address.firstname}} {{orderDetails.ship_address.lastname}}
                </span>
            
              </p>
            </div>
              <div>
            <h2>{{tranz.orderInfo}}</h2>
                <p>
                  <span class="info-title">{{tranz.orderId}}</span>

                  <span class="pull-right">
                      {{orderDetails.id}}
                  </span>

                 
                </p>
                <p><span class="info-title">{{tranz.totalItems}}</span>

                  <span class="pull-right">
                      {{orderDetails.item_total}}
                  </span>
                
                </p>
                <p><span class="info-title">{{tranz.totalAmount}}</span>
                  <span class="pull-right">
                      {{orderDetails.total}} {{tranz.currency}}
                  </span>
                </p>
            </div>
          </div>
          
          <div>
              <a *ngIf="isAuthenticated" href="/user/orders">{{tranz.isAuth}}</a>
              <a *ngIf="!isAuthenticated" href="/auth/signup">{{tranz.isNotAuth}}</a>
              <a href="#">{{tranz.continueShopping}}</a>
          </div>
                 
            </div>
          </div>
      