<div class="items">

  <div (click)="selectAddr($event, address)" *ngFor="let address of addrs" class="address-row">
            <div class="name">{{address.firstname}} {{address.lastname}}</div>
            <div class="address">
              <div class="address-content">
                <div class="address-field">{{address.address1}}</div>
                <div class="address-field">{{address.address2}}</div>
                <span class="address-field">{{address.city}}</span>
                <span class="address-field">{{address.zipcode}}</span>
                
                <div class="mob">
                  <span class="mob-lbl">{{pageTrans.mobile}}: </span>
                  <span class="mob-no">{{address.phone}}</span>
                </div>

              </div>
            </div>
          
            
            <button *ngIf="selectedAddress==address" class="select"></button>
            <!--<div class="remove-edit">
              <span class="remove">Remove</span>
              <span class="edit">Edit</span>
            </div>-->
          </div>
</div>
