<div class="items">

  <div (click)="selectAddr($event, address)" *ngFor="let address of addrs" class="address-row">
            <div class="name">{{address.firstname}} {{address.lastname}}</div>
            <div class="address">
              <div class="address-content">
                <div class="address-field">{{address.address1}}</div>
                <div class="address-field">{{address.address2}}</div>
                <span class="address-field">{{address.city}}</span>
                <span class="address-field">{{address.zipcode}}</span>
                
                <div class="mob">
                  <span class="mob-lbl">{{pageTrans.mobile}}: </span>
                  <span class="mob-no">{{address.phone}}</span>
                </div>

              </div>
            </div>
          
            
            <button *ngIf="selectedAddress==address" class="select"></button>
            <!--<div class="remove-edit">
              <span class="remove">Remove</span>
              <span class="edit">Edit</span>
            </div>-->
          </div>
</div>

<div class="edit-address">
    <span class="edit-label">
      <inline-translator [page]="'addrs'" [key]="'selectDelOption'" [elementType]="'text'"></inline-translator>
    </span>
  </div>
  

<div class="items">
  
    <div (click)="selectDelOption($event, del)" *ngFor="let del of delOptions" class="del-options">
      
        <div class="option">
            <div class="option-name">
                {{del.prop1}}
            </div>
            <div class="option-rate">
                {{del.prop2}}
            </div>
          </div>
              <button *ngIf="selectedDel==del" class="select"></button>
            </div>
  </div>
  