<nav style="border-color:transparent" class="navbar navbar-default navbar-fixed-top">
  <div class="row">
      <div class="container">

       
          <a class="navbar-brand" routerLink="/"><img src="assets/shevlin_logo.png" alt=""></a>
          
        <ol class="checkout-steps">
          <li class="step step1">
            <a [ngClass]="{'can-click': checkIfClickable('cart'), 'active': isActiveRoute('cart')}" [routerLink]="getRouterLink('cart')"><inline-translator [page]="'checkoutHeader'" [key]="'bag'" [elementType]="'text'"></inline-translator></a>
          </li>
          <li class="divider"></li>
          <li class="step step2">
            <a [ngClass]="{'can-click': checkIfClickable('address'), 'active': isActiveRoute('address')}" [routerLink]="getRouterLink('address')"><inline-translator [page]="'checkoutHeader'" [key]="'delivery'" [elementType]="'text'"></inline-translator></a>
          </li>
          <li class="divider"></li>
          <li class="step step3">
            <a [ngClass]="{'can-click': checkIfClickable('payment'), 'active': isActiveRoute('payment')}" [routerLink]="getRouterLink('payment')"><inline-translator [page]="'checkoutHeader'" [key]="'payment'" [elementType]="'text'"></inline-translator></a>
          </li>
        </ol>
      </div>
  </div>
  
</nav>

<style>@import url('https://fonts.googleapis.com/css?family=Poiret+One');</style>