<div class="container-fluid">
  <div class="col-md-12">
  
    
    <div *ngIf="User.id;else other_content">
        <h4>Hello {{User.id}}, welcome!</h4>
    </div>

    <ng-template #other_content>
        <h4>Hello and welcome!, what is your
          <input [(ngModel)]="userId" class="userInputId" placeholder="name?" autocomplete="off" (keyup.enter)="updateId($event)">
        </h4>
    </ng-template>
    <hr>
  </div>

  <div class="sidebar col-md-3">
    <p><a routerLink="/user/orders" routerLinkActive="active">My Orders</a></p>
    <hr>
    <p><a routerLink="/user/addresses" routerLinkActive="active">My Addresses</a></p>
    
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
