<div class="container-fluid user_fluid">
  <div class="col-md-12">
  
    
    <div *ngIf="User.id;else other_content">
        <h4>{{pageTrans.hello}} {{User.id}}, {{pageTrans.welcome}}!</h4>
    </div>

    <ng-template #other_content>
        <h4> 
          {{pageTrans.yourName}}
          <input [(ngModel)]="userId" class="userInputId" placeholder=" {{pageTrans.name}}?" autocomplete="off" (keyup.enter)="updateId($event)">
        </h4>
    </ng-template>

    <hr>
  </div>

  <div class="sidebar col-md-3">
    <p>
      <a routerLink="/user/orders" routerLinkActive="active">
        {{pageTrans.activeOrders}}
      </a>
    </p>
    <!-- <hr>
    <p>
      <a routerLink="/user/addresses" routerLinkActive="active">
        {{pageTrans.myAddresses}}
    </a>
    </p> -->
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
