
<div class="row">
    <div class="cart-section">

        <div *ngIf="(totalCartItems$ | async) > 0 else emptyCart">
          
            <div class="col-xs-12 col-sm-8">
                <div class="left">
                    <div class="checkout-header-container">
                      <div class="checkout-header">
                        <span class="text">
                          ({{totalCartItems$ | async}})
                        </span>
                      </div>
                      
                      <div class="total-price">
                          ({{totalCartValue$ | async}})
                      </div>
                    </div>
                    <div class="prod-set">
                      <app-line-item-list></app-line-item-list>
                    </div>
                  </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 rect">
                <div class="right">
                    <app-order-total-summary [totalCartValue]="totalCartValue$ | async"></app-order-total-summary>
                  </div>
            </div>
        </div>
        
        <ng-template #emptyCart>
          <app-empty-cart></app-empty-cart>
        </ng-template>
      </div>
      
</div>


