<div class="customize">
        <ul class="properties">
          <li data-order="0" data-filter="size_facet" class="selected">Summer collection</li>
        </ul>
        <div class="allOptions">
          <!-- <ul data-filter="size_facet" style="" class="options">
            <li data-filter="size_facet" data-option="38" data-num="456" data-colorhex="38" class="option">
              <label title="38" class="selected">
                <input type="checkbox" data-filter="size_facet" data-option="38" class="checkbox">38<span class="num">(456)</span>
                </label>
            </li>
            <li data-filter="size_facet" data-option="39" data-num="387" data-colorhex="39" class="option">
              <label title="39" class="selected">
                <input type="checkbox" data-filter="size_facet" data-option="39" class="checkbox">39<span class="num">(387)</span>
              </label>
            </li>
            <li data-filter="size_facet" data-option="40" data-num="1020" data-colorhex="40" class="option">
              <label title="40">
                <input type="checkbox" data-filter="size_facet" data-option="40" class="checkbox">40<span class="num">(1020)</span>
              </label>
            </li>
          </ul>

          <ul data-filter="Shirt_Length_article_attr" style="display:none;" class="options">
            <li data-filter="Shirt_Length_article_attr" data-option="regular" data-num="1662" data-colorhex="regular" class="option">
              <label title="regular">
                <input type="checkbox" data-filter="Shirt_Length_article_attr" data-option="regular" class="checkbox">regular<span class="num">(1662)</span>
              </label>
            </li>
          </ul> -->
           
        </div>    
      </div>