.paypalBtnCss {
    font-size: 14px;
    font-weight: 600;
    font-family: "Whitney-semi-bold";
    height: 48px;
    width: 100%;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    width: 100%;
    color: #fff;
}

.paypalBtnCss:hover {
    background-color: #0bc6a0;
}