.fa {
  font-size: 2rem;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}
.cart {
  cursor: pointer;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
  .dropdown-submenu.pull-left > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
  }

  @media screen and (max-width: 768px) {
    .nav > li {
      position: static; 
    }
  }
  @media screen and (max-width: 768px) {
    .navbar-nav .open .dropdown-menu {
      border: none;
      background: #ffffff;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      margin-left: -100px;
    }
    #profDown {
      display: -webkit-inline-box;
    }

    @media screen and (max-width: 768px) {
      #profDown {
        margin-right:  10px;
      }
    }
    #topMenuLang{
      left: -100%;
      top: -100%;
    }
  }