<ul id="profDown" style="display: -webkit-inline-box;" class="nav navbar-nav navbar-right">

    <li class="cart" [routerLink]="['checkout','cart']">
        <a>
          <i class="fa" aria-hidden="true">
              <img class="bagPic" src="assets/shopping-bag.png">
          </i>
          <span class="badge badge-danger">{{totalCartItems}}</span></a>
      </li> 

  <li class="dropdown" dropdown *ngIf="!isAuthenticated">
    
    <a class="dropdown-toggle" dropdownToggle>
      <i class="fa" aria-hidden="true">
          <img class="bagPic" src="assets/shopping-bag.png">
      </i>
      <span class="caret"></span>
    </a>
    
    <ul class="dropdown-menu" *dropdownMenu>
      <li><a [routerLink]="['/auth']">
        {{pageTranslator.ourFriend}}
      </a>
      </li>
      <li role="separator" class="divider"></li>
      <li><a [routerLink]="['/auth', 'login']">
        {{pageTranslator.login}}
      </a></li>
    </ul>
    
  </li>
  
  <li class="dropdown" dropdown *ngIf="isAuthenticated">
    <a class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" *dropdownMenu>
      <flagSelectComp class="flagSelect" [FlagsArray]="['dk', 'gb']"></flagSelectComp>
      <li role="separator" class="divider"></li>
      <li><a routerLink="/user">
        {{pageTranslator.myProfile}}
      </a></li>
      <li role="separator" class="divider"></li>
      <li><a (click)="logout()">
        {{pageTranslator.logout}}
      </a></li>
      <li role="separator" class="divider"></li>
     
    </ul>
  </li>
</ul>