
<ul class="nav navbar-nav navbar-right">

    <li class="cart" [routerLink]="['checkout','cart']">
        <a>
          <i class="fa fa-shopping-bag" aria-hidden="true"></i> Bag
          <span class="badge badge-danger">{{totalCartItems}}</span></a>
      </li> 

  <li class="dropdown" dropdown *ngIf="!isAuthenticated">
    <a class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" *dropdownMenu>
      <li><a [routerLink]="['/auth']">Become our friend</a></li>
      <li role="separator" class="divider"></li>
      <li><a [routerLink]="['/auth', 'login']">Login</a></li>
    </ul>
  </li>
  
  <li  class="dropdown" dropdown *ngIf="isAuthenticated">
    <a class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" *dropdownMenu>
      <li><a routerLink="/user">My Profile</a></li>
      <li><a routerLink="/user/orders">My Orders</a></li>
      <li role="separator" class="divider"></li>
      <li><a routerLink="/user/addresses">Saved Addresses</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Edit Profile</a></li>
      <li><a (click)="logout()">Logout</a></li>


      <li class="dropdown-submenu">
          <a href="#"><i class="fa fa-flag fa-fw fa-lg"></i> Vælg Sprog<b class="caret"></b></a>
          <ul class="dropdown-menu" id="topMenuLang">
            <li (click)="changeLang()" data-selected="true"><a href="#">Danish <i class="glyphicon glyphicon-ok" style="float: right;"></i></a></li>
            <li data-value="9" data-languageuid="0040f0c9-b449-467d-8f6d-e48ad1776c57"><a href="#">English</a></li>
            <li data-value="1031" data-languageuid="45ccd89e-639f-400d-9328-da7abbbd27c5"><a href="#">German</a></li>
            <li data-value="1053" data-languageuid="b3d1a4cc-3032-4da6-bc41-12d17f96b36e"><a href="#">Swedish</a></li>
          </ul>
      </li>
    </ul>

  </li>

  
</ul>