<div class="panel panel-default">
  <div class="panel-body">
    <h5 class="active">
      {{order.id}} / {{order.email}} 
    </h5>
    <small>
      {{pageTrans.placedOn}}: {{order.created_at | date:'fullDate'}}
      <i class="fa fa-{{order.currency | lowercase}}"aria-hidden="true"></i>
    </small>

    <hr>
    <h5 class="strong">
      
      {{pageTrans.shipment}}: 

      <div *ngIf="order.shipment_state == '1'">
        {{pageTrans.orderWating}}: 
      </div>
      
      <div *ngIf="order.shipment_state == '0'">
        {{pageTrans.orderSentGls}}: 
      </div>

      <div class="pull-right">
        <a [routerLink]="['detail', order.id]" class="view-details-link strong"> {{pageTrans.details}}</a>
      </div>
    </h5>
  </div>
</div>