.taxCol{
    width: 20.5%;
}

@media (max-width: 600px) {
    .taxCol {
        width: 100%;
    }
    .mainCol {
        width: 100%;
    }
}
.ui.vertical.stripe {
    padding: 8em 0em;
  }
  .ui.vertical.stripe h3 {
    font-size: 2em;
  }
  .ui.vertical.stripe .button + h3,
  .ui.vertical.stripe p + h3 {
    margin-top: 3em;
  }
  .ui.vertical.stripe .floated.image {
    clear: both;
  }
  .ui.vertical.stripe p {
    font-size: 1.33em;
  }
  .ui.vertical.stripe .horizontal.divider {
    margin: 8em 0em;
  }
  .ui.inverted.segment, .ui.primary.inverted.segment{
    background-image: url('https://shevlin.co/assets/api/pics/bambooForest.png');
  }
  .masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    color: #f2f2f2;
    font-family: 'Poiret One';
  }

  @media screen and (max-width: 768px) {
    .masthead h1.ui.header {
      font-size: 2em; 
    }
    .ui.inverted.segment{
      margin-top: 90px;
    }
  }
