.navbar {
  height: 168px;
  background-color: #FFFFFF;
  list-style: none;
}

.navbar-brand {
  float: none;
  font-family: 'Poiret One';
  font-size: 58px;
  padding-top: 25px;
  img {
    margin: 0 auto;
    text-align: center;
    margin: 50px auto;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    img {
      width:  50%;
    }
  }
}


.taxCol{
    width: 20.5%;
}

@media (max-width: 600px) {
    .taxCol {
        width: 100%;
    }
    .mainCol {
        width: 100%;
    }
}
.ui.vertical.stripe {
    padding: 8em 0em;
  }
  .ui.vertical.stripe h3 {
    font-size: 2em;
  }
  .ui.vertical.stripe .button + h3,
  .ui.vertical.stripe p + h3 {
    margin-top: 3em;
  }
  .ui.vertical.stripe .floated.image {
    clear: both;
  }
  .ui.vertical.stripe p {
    font-size: 1.33em;
  }
  .ui.vertical.stripe .horizontal.divider {
    margin: 8em 0em;
  }
  .ui.inverted.segment, .ui.primary.inverted.segment{
    background-size:100% 100%;
    background-color: white;
    background-image: url('https://shevlin.co/assets/api/pics/byShevlinNatureBanner001.png');
    height: 400px;
    margin-top: -60px;
    margin-bottom: -30px;
  }
  .masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    color: #f2f2f2;
    font-family: 'Poiret One';
  }

  @media screen and (max-width: 768px) {
    .masthead h1.ui.header {
      font-size: 2em; 
    }
    .ui.inverted.segment{
      height: 200px;
    }
  }
