 <div class="prod-item">
  <div class="col1">
    <img *ngIf="image" [src]="image" alt="">
  </div>
  <div class="col2">
    <div class="prod-name">
      <a class="c-gray">
        {{name}}
      </a>
    </div>
    <div class="prod-amount">
      {{amount}}
    </div>
    <div class="size-qty-wrap">
      <div class="size-qty">

        <span *ngIf="size != null" class="size"> 
          <span class="gray">{{pageTrans.size}}:</span>
          <span class="value">{{size}}</span>
        </span>

        <span *ngIf="color != null" class="size">
          <span class="gray">{{pageTrans.color}}:</span>
          <span class="value">{{color}}</span>
        </span>
        
        <span class="qty">
          <span class="gray">{{pageTrans.qty}}:</span>
          <span class="value">{{quantity}}</span>
        </span>
        
      </div>
      <div class="seller"></div>
    </div>
    <div class="edit-move-delete">
      <div class="actions">
        <span (click)="removeLineItem()" class="delete-item">{{pageTrans.remove}}</span>
      </div>
    </div>
  </div>
</div>

