
<form class="form" [formGroup]="emailForm">
  <div class="email">
    <label>
      {{pageTrans.email}}
      <span>*</span>
    </label>
    <input type="tel" class="full-width" formControlName="email">
    <p *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched" class="value-err show">{{pageTrans.mandatory}}</p>
  </div>
</form>

<form class="form" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="country_id">
  <div class="pincode">
    <label>
        {{pageTrans.zipcode}}
      <span class="required">*</span>
    </label>
    <input type="tel" class="half-width" formControlName="zipcode">
    <p *ngIf="addressForm.get('zipcode').hasError('required') && addressForm.get('zipcode').touched" class="value-err show">{{pageTrans.mandatory}}</p>
  </div>
  <div class="locality">
    <label>
        {{pageTrans.town}}
      <span class="required">*</span>
    </label>
    <input type="text" class="full-width" formControlName="address2">
    <p *ngIf="addressForm.get('address2').hasError('required') && addressForm.get('address2').touched" class="value-err show">{{pageTrans.mandatory}}</p>
  </div>
  <div>
  </div>
  <div>
    <div class="first-name">
      <label>
          {{pageTrans.firstName}}
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width" formControlName="firstname">
      <p *ngIf="addressForm.get('firstname').hasError('required') &&  addressForm.get('firstname').touched" class="value-err show">{{pageTrans.mandatory}}</p>
    </div>
    <div class="last-name">
      <label>
          {{pageTrans.lastName}}
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width" formControlName="lastname">
      <p *ngIf="addressForm.get('lastname').hasError('required') &&  addressForm.get('lastname').touched" class="value-err show">{{pageTrans.mandatory}}</p>
    </div>
  </div>
  <div class="address">
    <label>
      {{pageTrans.address}}
      <span class="required">*</span>
    </label>
    <textarea type="text" class="full-width" formControlName="address1"></textarea>
    <p *ngIf="addressForm.get('address1').hasError('required') &&  addressForm.get('address1').touched" class="value-err show">{{pageTrans.mandatory}}</p>
  </div>
  <div class="mobile">
    <label>
      {{pageTrans.mobile}} 
      <span class="required">*</span>
    </label>
    <input type="tel" class="half-width" formControlName="phone">
    <p *ngIf="addressForm.get('phone').hasError('required') &&  addressForm.get('phone').touched" class="value-err show">{{pageTrans.mandatory}}</p>
  </div>
  <div *ngIf="isAuthenticated" class="save-button">
    <button [disabled]="!addressForm.valid"> {{pageTrans.create}} </button>
  </div>
  <div *ngIf="!isAuthenticated" class="save-button">
    <button [disabled]="!addressForm.valid && !emailForm.valid">{{pageTrans.create}}</button>
  </div>
</form>
